body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}
header {
    background-color: #99EDFD;
    padding: 55px;
 
}

nav a {
    font-size: 40px;
    margin: 20px;

color: white;
text-decoration: none;
}



nav a:hover {
    text-decoration: underline;
}

nav img {
    width: 100px;
    border-radius: 100px;
    float: right;
    
}

.tarjetas {
    display: flex;
    gap: 10px;
}
.relojes {
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #ccc;
    font-size: 20px;
}
.cadenas {
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #ccc;
    font-size: 20px;

}
.anillos {
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #ccc;
    font-size: 20px;
}

.relojes img {
    width: 100%;
}

.cadenas img {
    width: 100%;
}
.anillos img {
    width: 100%;
}
.vermas {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 30px;
    background-color: #BFBFBF;
}

footer {
    background-color: #99EDFD;
    color: black;
    text-align: center;
    padding: 30px;
}
.nombre {
    float: inline-start;
     
 }
 .aritos {
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #ccc;
    font-size: 20px;

 }
 .aritos img {
    width: 100%;
 }