body {
    font-family: "Open Sans", sans-serif;
}
header {
    background-color: #99EDFD;
    padding: 55px;
 
}
nav a {
    font-size: 40px;
    margin: 20px;

color: white;
text-decoration: none;
}



nav a:hover {
    text-decoration: underline;
}

nav img {
    width: 100px;
    border-radius: 100px;
    float: right;
    
}
main h1 {
    text-align: center;
}
.reseña {
    text-align: center;
    font-size: 30px;
    border-radius: 20px;   
}

.reseña img {
    width: 350px;
    border-radius: 20px;
    
}
footer {
    background-color: #99EDFD;
    color: black;
    text-align: center;
    padding: 30px;
}